FTP-mirror
notes.txt
*.log
queuedFiles
completedQueues
.idea
__pycache__
*.pyc
troublesome-files
troublesomeFiles
ifremer
grids
*.csv
*.ods
*.ipynb_checkpoints/
verdzi-api/out
mat-flag-scanner/argovis-data/*
mat-flag-scanner/argovis-mat-python/*
