itsonlyamodel.posts/
FTP-mirror
notes.txt
*.log
queuedFiles
completedQueues
.idea
__pycache__
*.pyc
troublesome-files
troublesomeFiles
ifremer
grids
*.ods
*.txt
*.csv
*.ipynb_checkpoints/
verdzi-api/out
mat-flag-scanner/argovis-data/*
mat-flag-scanner/argovis-mat-python/*
test-files
test-file-single
tmp/
.vscode
60_day
140_day
add-profiles/tmp
add-profiles/*.txt
*.xlsx
*.bak
*.nc
*.mat
gridding/KuuselaResults/*
